<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside class="adNav">
	<h3>주요기능</h3>
	<ul class="adNav">
	    <li class="adNav">
	        상품관리
	        <ul>
	            <li class="subNav">└ <a href="#" id="prodlist">상품목록</a></li>
	            <li class="subNav">└ <a href="#" id="prodreg">상품등록</a></li>
	        </ul>
	    </li>
	    <li class="adNav">
	        주문관리
	        <ul>
	            <li class="subNav">└ <a href="#" id="orderlist">주문목록</a></li>
	        </ul>
	    </li>
	    <li class="adNav">
	        회원관리
	        <ul>
	            <li class="subNav">└ <a href="#" id="userlist">회원목록</a></li>
	        </ul>
	    </li>
	</ul>
</aside>
</html>