<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <aside class="aside">
        <div class="sidebar">
            <div class="aside_cate">
                <img th:src="@{/img/sub_aside_cate1_tit.png}" alt="Buying in the Market 장보기">
            </div><!-- .aside_cate -->
            <div class="aside_bg">
                <ul class="cate_lnb1">
                    <li><a th:href="@{/intro/introduction}" class="lnb1">인사말</a></li>
                    <li><a th:href="@{/intro/direction}" class="lnb2">찾아오시는길</a></li>
                </ul><!-- .cate_lnb -->
            </div><!-- .aside_bg -->
        </div><!-- .sidebar -->
    </aside><!-- .aside -->
</html>