<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head th:fragment="configFragment">
    <meta charset="UTF-8">
    <title>FarmStory</title>
    <link rel="shortcut icon" th:href="@{/img/fav.ico}" type="image/x-icon">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/article.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <th:block layout:fragment="css" class="css"></th:block>
  </head>
</html>